.Section-Wrapper{
    background: url(./header-lines.webp) no-repeat 100% 0%;
    background-size:contain;
    background-color: #4abdb7;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
        min-height: 40vh;
    }
}



.Text-part{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}
.Title{
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    @media (max-width: 600px) {
        font-size: 35px;
        width: 70%;
        line-height: 45px;
    }
}
.bellow-title{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    @media (max-width: 600px) {
        font-size: 15px;
        width: 70%;
    }
}

.Buttons-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 150px;
}

.button-red{
    padding: 25px 35px;
    background-color: #ff3745;
    border-radius: 50px;
    color: #fff;
    margin-right: 15px;
}

.button-transparent{
    padding: 25px 35px;
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    margin-right: 15px;
    border: 1px solid ;
}

.Main-Section{
    display: flex;
    flex-direction: column;

}


.header-wrapper{
display: flex;
flex-direction: row;
@media (max-width: 600px) {
    flex-direction: column-reverse;
}
}