.upperSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 12px;
    margin-bottom: 70px;
    background: transparent;
    padding-bottom: 40px;
    
    @media (max-width: 768px) {
        padding-top: 70px;
        margin-bottom: 55px;
        gap: 10px;
    }
}

#clients{
    background: #ffffff;
    width: 100%;
}


